# example systemd service file, should be copied to ~/.config/systemd/user/example.service
# then run: 
# systemctl --user daemon-reload 
# systemctl --user enable example
# systemctl --user start example

[Unit]
Description=The quad scope screenshot fetcher
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=30
WorkingDirectory=/path/to/working/directory
ExecStart=/path/to/working/directory/fetchScreenshot.py --ip 192.168.1.119

[Install]
WantedBy=default.target
